.container
  %h3 Instruction
  %dl 
    %dt Install VirtualBox（if necessary）
    %dd https://www.virtualbox.org
    %dt Install Vagrant   （if necessary）
    %dd http://vagrantup.com
    %dt 
      %h4
        %font{:color => "#dd0000"} Import VM on your machine. Type bellow command.
    %dd= @instruction
